/* --- Styling of Dangerous Actions such as force_confirm --- */
.button.dangerous {
    text-align: center !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background: #CC5500 !important;
    border: solid 1px #CC5500 !important;
    color:white !important;
}